 h2{
    background-color:#5599DD;
    color:#DDDDDD
}
 .exp{
    text-indent:50px
}
 #email{
    text-descoration:underline;
    font-style:italic;
}
 body{
   font-family:Arial;
     width: 940px;
}
