body{
    background-color:#FFFF99;
    fonte-family:Helvetica, Areal, sans-serif;
    width:940px;
    margin-right:auto;
    margin-left:auto;
}
h2 {
    background-color: #C7BE9B;
    background: -moz-linear-gradient(top, #FFFFFF, #FFFFFF 30%);
    background: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF 30%);
    border-radius: 15px;
    border: 1px solid black;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    color: #4F4F2F;
}
#titulo{
    text-align:center;
}
nav{
    width:200px;
    float:left;
}
#conteudo{
    width:740px;
    float: right;
}
#banner{
    top:0;
    right:0;
    position:fixed;
}
nav ul li{
    background-color:#FFFFFF;
    margin-bottom:3px;
}
nav ul li:hover{
    background-color: #C7BE9B;
}
nav ul li a{
    text-decoration:none;
    color:black;
}
nav ul{
    list-style: none;
    padding-left: 0;
}

figure{
    background-color:#E6E8FA;
    width:600px;
    text-align:center;
    padding:15px;
    font-family:'Comic Sans MS',cursive;
    border:1px solid black;
    box-shadow:5px 5px 3px rgba(0,0,0,0.7);
    -moz-transform:rotate(-5deg);
}
#tb-nutrientes{
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid black;
}
#tb-nutrientes th{
    background-color: #FFFFFF;
}

 #topo{
     text-align: center;
 }